*{
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
}

body{
  min-height: 100%;
  background: linear-gradient(to bottom, lightcyan, aquamarine, lightseagreen, teal, teal);
}

p{
  color: white;
}

nav{
  background-color: darkslategray;
  color: white;
  font-size: 20px;
  border: 2px solid darkslategray;
  border-radius: 5px;
}

a{
  color:inherit;
  padding: 10px;
  margin: 5px;
  line-height:30px;
  width:5px;
}

a:hover, a:active, a:visited{
  color: aquamarine;
}

