*{
  font-family: 'Roboto', sans-serif;
}

.formz{
  display:flex;
  justify-content: center;
}

#cat-form{
  background-color: silver;
  width:500px;
  padding: 50px;
  padding-top: 20px;
}

h1{
  color: aquamarine;
  font-size: 35px;
}

h2{
  color: red;
}

.formq{
  color:darkslategray;
}


h4{
  color:purple;
}

p{
}

nav{
  background-color: darkslategray;
  color: white;
  font-size: 20px;
  border: 2px solid darkslategray;
  border-radius: 5px;
}

a{
  color:inherit;
  padding: 10px;
  margin: 5px;
  line-height:30px;
  width:5px;
}

a:hover, a:active, a:visited{
  color: aquamarine;
}

.thin-red-border{
  border-color: red;
  border-width:2px;
  border-style:solid;
  border-radius:5px;
}

.top{
  background-color: lightgreen;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: white;
  font-size:20px;
  line-height: 10px;
  padding:0px;
  margin:0px;
  border-color: forestgreen;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

.dots{
  display:flex;
  justify-content: space-around;
  font-size: 20px;
}

.dots-item{
  width: 300px;
}

.dots-friend{
  position: absolute;
  margin-right: 750px;
}
