<!DOCTYPE HTML>
<html>
  <head>
    <title>About me</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <nav>
      <a href="./index.html">Home</a>
      <a href="./cats.html">Cats</a>
    </nav>
  </head>
  <body style="background-color: aquamarine;">
    <center>
      <br>
      <img style="background-color: white;" class="thin-border" src= "https://i.pinimg.com/originals/1c/46/8e/1c468e870324a42930acf44997127891.png" alt="turtle" height="200px" width="200px">
      <p>I am full of the passion</p>
    </center>
  </body>
</html>
  
