<! DOCTYPE html>
<html>
  <head>
    <title>Yum cat names</title>
     <nav>
      <a href="./index.html">Home</a>
      <a href="./about.html">About</a>
    </nav>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <br>
    <img class="thin-border" style="border-radius:50%;" src= "https://resize.cdn.otakumode.com/exq/65/410.410/shop/sku/850506e84912475b9777a0733ff62621.jpg" alt="Cute black catto" width="200" height="200" >
    <h4>All the cats which have been collected:</h4>
    <ul>
      {% for cat in cats %}
      <li>{{cat}}</li>
      {% endfor %}
    </ul>
    <p>Thank you for your participation.</p>
  </body>
</html>
      
