<!DOCTYPE html>
<!-- comment ! -->

<html>
  
  <head id="top">
    <title>{{author}}'s app</title>
    <nav>
      <a href="./cats.html">Cats</a>
      <a href="./about.html">About</a>
      <a href="./fish.html">
        <img class="fish" src= "https://cdn.shopify.com/s/files/1/1061/1924/products/Fish_emoji_icon_png_grande.png?v=1571606088" alt="fisch" width="30" height="20" >
      </a>
    </nav>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <div class="top">
      <h1> Hello {{name}}!</h1>
      <p> This is a test website </p>
    </div>

    <main>
      <div class="dots">
        <div class="dots-friend">
          <h4>Why cats are great:</h4>
          <ul>
            <li>cute</li>
            <li>fluff</li>
            <li>better than dogs</li>
            <li>soft</li>
          </ul>
        </div>
        <div class="dots-item">
          <center>
            <h2> My name is Emily</h2>
            <p> I like cats. Click for more: </p>
            <a href="https://www.reddit.com/r/blackcats/">
            <img class="thin-border" src= "https://i.ytimg.com/vi/sTM83yyCOMU/maxresdefault.jpg" alt="Cute black catto" width="200" height="121" >
            </a>
          </center>
        </div>
        <div class="dots-item">
          <h4>How to cat:</h4>
          <ol> 
            <li>Look 'em in the eyes</li>
            <li>Assert dominance</li>
            <li>Sniff paw</li>
            <li>Do your best flop</li>
            <li>Bite when they try to touch belly</li>
          </ol>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div class="formz">
        <form id="cat-form" action="/submit-cat" method="post">
          <h3>Now that you are a cat, register your new life here:</h3>
          <p class="formq">Name:</p>
          <input type="text" name="name" placeholder="cat name" required>
          <br>
          <p class="formq">Colour:</p>
          <input type="radio" name="colour" value = "black">Black</input>
          <input type="radio" name="colour" value = "tuxedo">Tuxedo</input>
          <input type="radio" name="colour" value = "tabby">Tabby</input>
          <input type="radio" name="colour" value = "white">White</input>
          <input type="radio" name="colour" value = "ginger">Ginger</input>
          <br>
          <p class="formq">How many lives do you have left?</p>
          <select name="lives">
            <option selected="selected" value="secret">Select an option...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
          <br>
          <p class="formq">Where do you like the scratches?</p>
          <input type="checkbox" name="scratch" value="ear">Ear</input>
          <input type="checkbox" name="scratch" value="chin">Chin</input>
          <input type="checkbox" name="scratch" value="tum">Tum</input>
          <input type="checkbox" name="scratch" value="back">Back</input>
          <br>
          <p class="formq">Please enter your bank details and social security number:</p>
          <textarea name="secret"  cols="50" rows="4" required></textarea>
          <br>
          <input type="checkbox" name="consent" checked required>I give permission for my information to be disclosed to all parties in consideration.</input>
          <br>
          <br>
          <button type="submit">Submit</button>
        </form>
      </div>
    </main>
    
    <br>
    <footer id="bottom">The end.</footer>
    
    <a href="#top">Top</a>
  </body>
</html>

